.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex; /* span태그 자체가 컨테이너고 1이 그 안에있는 항목이 됨 */
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
